lenguajes_de_marcas/UD9-XSD/ejercicios/01-Starktrek/starktrek.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Elemento raíz -->
  <xs:element name="personajes">
    <xs:complexType>
      <xs:sequence>
        <!-- Lista de elementos personaje -->
        <xs:element name="personaje" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="raza" type="xs:string"/>
              <xs:element name="sexo">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="Varón"/>
                    <xs:enumeration value="Hembra"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
