lenguajes_de_marcas/UD9-XSD/ejercicios/04-Pedidos/pedidos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="lista_pedidos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="juego" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string"/>
                    <xs:element name="plataforma" type="xs:string"/>
                    <xs:element name="tipo" type="xs:string"/>
                    <xs:element name="precio" type="xs:decimal"/>
                    <xs:element name="descuento" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="datos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="pedido" type="xs:integer"/>
              <xs:element name="fecha_hora" type="xs:dateTime"/>
              <xs:element name="estado">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="enviado" type="xs:boolean"/>
                    <xs:element name="entregado" type="xs:boolean"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="pago" type="xs:string"/>
              <xs:element name="destino">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="calle" type="xs:string"/>
                    <xs:element name="numero" type="xs:integer"/>
                    <xs:element name="localidad" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
